<div class="field">
  <div class="field-label" [class]="additionalClass()">
    <span class="label">
      {{ fieldLabel() }}
      @if (hasOptionalLabel()) {
        <span class="optional"> (optional)</span>
      }
    </span>
    @if (additionalFieldLabel()) {
      <!--eslint-disable-next-line @angular-eslint/template/interactive-supports-focus-->
      <span
        class="label-color"
        (click)="onAdditionalFieldAction()"
        (keydown)="onAdditionalFieldAction()"
        >{{ additionalFieldLabel() }}</span
      >
    }
  </div>
  <i class="default" [class]="iconClass()"></i>
  @if (isTextareaField()) {
    <textarea
      class="field-textarea"
      [class.invalid]="isInputInvalid()"
      [rows]="textareaRows()"
      [placeholder]="inputPlaceholder()"
      [value]="value()"
      [disabled]="disabled()"
      [required]="required()"
      (input)="onInput($event)"
      (blur)="touch.emit()"
    ></textarea>
  } @else {
    <input
      class="field-input"
      [class]="inputClass()"
      [class.invalid]="isInputInvalid()"
      [type]="inputType()"
      [placeholder]="inputPlaceholder()"
      [value]="value()"
      [disabled]="disabled()"
      [required]="required()"
      (input)="onInput($event)"
      (blur)="touch.emit()"
    />
  }
  @if (hasInputAction()) {
    <button class="action-icon" type="button" (click)="onHandleInputAction()">
      <i [class]="inputActionIconClass()"></i>
    </button>
  }
  <div class="error-message">
    @for (error of visibleErrors(); track error.kind) {
      <div>{{ error.message }}</div>
    }
  </div>
</div>
