<div class="reset-password-bg">
  @defer (hydrate never) {
    <app-header />
  }

  <div class="reset-password">
    <h1 class="reset-password__title">
      Reset Your
      <span>Password</span>
    </h1>

    <p class="reset-password__description">
      Enter your new password below. Make sure it's at least 8 characters long and contains a mix of
      letters, numbers and symbols.
    </p>

    <div class="reset-password__card">
      <div class="reset-password__card-content">
        <form class="reset-password__form" [formRoot]="resetPasswordForm">
          <app-input-field
            fieldLabel="New Password"
            iconClass="bx bx-lock-keyhole"
            inputPlaceholder="Enter your new password"
            [formField]="resetPasswordForm.password"
            [inputType]="showPassword() ? 'text' : 'password'"
            [hasInputAction]="true"
            [inputActionIconClass]="showPassword() ? 'bx bx-eye' : 'bx bx-eye-slash'"
            (inputActionEmiter)="togglePasswordVisibility(0)"
          />

          <app-input-field
            fieldLabel="Confirm New Password"
            iconClass="bx bx-lock-keyhole"
            inputPlaceholder="Confirm your new password"
            [formField]="resetPasswordForm.confirmPassword"
            [inputType]="showConfirmPassword() ? 'text' : 'password'"
            [hasInputAction]="true"
            [inputActionIconClass]="showConfirmPassword() ? 'bx bx-eye' : 'bx bx-eye-slash'"
            (inputActionEmiter)="togglePasswordVisibility(1)"
          />

          <app-button
            contentIconClass="bx bx-arrow-right-stroke"
            [contentText]="'Reset Password'"
            [buttonType]="'submit'"
            [disabled]="resetPasswordForm().invalid() || resetPasswordForm().submitting()"
          />
        </form>
      </div>
    </div>
  </div>

  <div class="rights">© 2026 RADIOFIND. All rights reserved.</div>
</div>
