<ul class="stats" aria-label="Profile statistics">
  <li class="stats__item">
    <i class="stats__icon bx bx-user"></i>
    <div class="stats__content">
      <span class="stats__value">0</span>
      <span class="stats__label">Followers</span>
    </div>
  </li>

  <li class="stats__item">
    <i class="stats__icon bx bx-arrow-up-circle"></i>
    <div class="stats__content">
      <span class="stats__value">0</span>
      <span class="stats__label">Uploads</span>
    </div>
  </li>

  <li class="stats__item">
    <i class="stats__icon bx bx-heart"></i>
    <div class="stats__content">
      <span class="stats__value">0</span>
      <span class="stats__label">Likes</span>
    </div>
  </li>

  <li class="stats__item">
    <i class="stats__icon bx bx-calendar"></i>
    <div class="stats__content">
      <span class="stats__value">{{ registeredAt() }}</span>
      <span class="stats__label">Joined</span>
    </div>
  </li>
</ul>
