.form {
  width: 100%;
  height: 400px;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(135deg, var(--first-gradient-color), var(--second-gradient-color));

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 32px;
    border-radius: 20px;
    background: var(--second-bg-color);
  }
}
