<div class="form">
  <div class="form-content">
    @if (authType() === 'login') {
      <h2 class="form-content__title">Log In</h2>
      <p class="form-content__description">Welcome back! Please enter your details.</p>

      <form class="form-content__form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
        <div class="form-content__form--email">
          <div class="form-content__form--email-label form-label">
            <span class="label">Email Address</span>
          </div>
          <i class="default bx bx-envelope-alt"></i>
          <input
            class="email"
            [class.invalid]="emailLoginForm.touched && emailLoginForm.invalid"
            type="email"
            formControlName="email"
            placeholder="you@example.com"
          />
        </div>

        <div class="form-content__form--password">
          <div class="form-content__form--password-label">
            <span class="label">Password</span>
            <span class="label-color">Forgot password?</span>
          </div>
          <i class="default bx bx-lock"></i>
          <input
            class="password"
            [class.invalid]="passwordLoginForm.touched && passwordLoginForm.invalid"
            [type]="showPassword() ? 'text' : 'password'"
            formControlName="password"
            placeholder="Enter your password"
          />
          <button class="visibility-action" (click)="togglePasswordVisibility(0)">
            <i [class]="showPassword() ? 'bx bx-eye' : 'bx bx-eye-slash'"></i>
          </button>
        </div>

        <app-button
          [contentText]="'Log In'"
          [contentIconClass]="'bx bx-arrow-right-stroke'"
          [buttonType]="'submit'"
        />
      </form>

      <div class="form-content__sign-up">
        <p>
          Don't have an account? <button (click)="onSwitchAuthType()">&nbsp;&nbsp;Sign up</button>
        </p>
      </div>
    } @else {
      <h2 class="form-content__title">Create Your Account</h2>
      <p class="form-content__description">Fill in the details below to get started.</p>
      <form class="form-content__form" [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
        <div class="form-content__form--name-surname">
          <div class="form-content__form--name-surname-name">
            <div class="form-content__form--name-surname-name-label form-label">
              <span>Name</span>
            </div>
            <i class="default bx bx-user"></i>
            <input
              class="name"
              [class.invalid]="nameRegisterForm.touched && nameRegisterForm.invalid"
              type="text"
              formControlName="name"
              placeholder="Enter your name"
            />
          </div>
          <div class="form-content__form--name-surname-surname">
            <div class="form-content__form--name-surname-surname-label form-label">
              <span>Surname</span>
            </div>
            <i class="default bx bx-user"></i>
            <input
              class="surname"
              [class.invalid]="surnameRegisterForm.touched && surnameRegisterForm.invalid"
              type="text"
              formControlName="surname"
              placeholder="Enter your surname"
            />
          </div>
        </div>

        <div class="form-content__form--email">
          <div class="form-content__form--email-label form-label">
            <span>Email</span>
          </div>
          <i class="default bx bx-envelope-alt"></i>
          <input
            class="email"
            [class.invalid]="emailRegisterForm.touched && emailRegisterForm.invalid"
            type="email"
            formControlName="email"
            placeholder="you@example.com"
          />
        </div>

        <div class="form-content__form-recovery">
          <div class="form-content__form-recovery-label form-label">
            <span>Recovery Email <span class="optional">(optional)</span></span>
          </div>
          <i class="default bx bx-envelope-alt"></i>
          <input
            class="recovery"
            [class.invalid]="recoveryEmailRegisterForm.touched && recoveryEmailRegisterForm.invalid"
            type="email"
            formControlName="recoveryEmail"
            placeholder="recovery@example.com"
          />
        </div>

        <div class="form-content__form-birthday">
          <div class="form-content__form-birthday-label form-label">
            <span>Date of Birth</span>
          </div>
          <i class="default bx bx-calendar"></i>
          <input
            class="birthday"
            [class.invalid]="dateOfBirthRegisterForm.touched && dateOfBirthRegisterForm.invalid"
            type="date"
            min="{{ minDate() | date: 'yyyy-MM-dd' }}"
            max="{{ currentDate | date: 'yyyy-MM-dd' }}"
            formControlName="dateOfBirth"
            placeholder="Select your date of birth"
          />
        </div>

        <div class="form-content__form-passwords">
          <div class="form-content__form-passwords-password">
            <div class="form-content__form-passwords-password-label form-label">
              <span>Password</span>
            </div>
            <i class="default bx bx-lock"></i>
            <input
              class="password"
              [class.invalid]="passwordRegisterForm.touched && passwordRegisterForm.invalid"
              [type]="showPassword() ? 'text' : 'password'"
              formControlName="password"
              placeholder="Enter your password"
            />
            <button class="visibility-action" (click)="togglePasswordVisibility(0)">
              <i [class]="showPassword() ? 'bx bx-eye' : 'bx bx-eye-slash'"></i>
            </button>
          </div>
          <div class="form-content__form-passwords-confirm">
            <div class="form-content__form-passwords-confirm-label form-label">
              <span>Confirm Password</span>
            </div>
            <i class="default bx bx-lock"></i>
            <input
              class="confirm"
              [class.invalid]="
                confirmPasswordRegisterForm.touched && confirmPasswordRegisterForm.invalid
              "
              [type]="showConfirmPassword() ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="Repeat your password"
            />
            <button class="visibility-action" (click)="togglePasswordVisibility(1)">
              <i [class]="showConfirmPassword() ? 'bx bx-eye' : 'bx bx-eye-slash'"></i>
            </button>
          </div>
        </div>

        <div class="form-content__form-add">
          <label class="add">
            <input type="checkbox" formControlName="addInformation" />
            <span></span>
            I want to add information about my artist / band
          </label>
        </div>

        @if (addInformationRegisterForm.value) {
          <div class="form-content__form-type">
            <div class="form-content__form-type-label form-label">
              <span>Who are you?</span>
            </div>
            <div class="type-flex">
              <label class="type">
                <input
                  type="radio"
                  name="typeOfArtist"
                  value="Artist"
                  formControlName="typeOfArtist"
                />
                <span></span>
                Artist
              </label>
              <label class="type">
                <input
                  type="radio"
                  name="typeOfArtist"
                  value="Band"
                  formControlName="typeOfArtist"
                />
                <span></span>
                Band
              </label>
            </div>
          </div>

          <div class="form-content__form-artist-name">
            <div class="form-content__form-artist-name-label form-label">
              <span
                >{{ typeOfArtistRegisterForm.value }} Name
                <span class="optional">(optional)</span></span
              >
            </div>
            <i class="default bx bx-user"></i>
            <input
              class="artist-name"
              [class.invalid]="
                artistOrBandNameRegisterForm.touched && artistOrBandNameRegisterForm.invalid
              "
              type="text"
              formControlName="artistOrBandName"
              placeholder="Enter {{ typeOfArtistRegisterForm.value | lowercase }} name"
            />
          </div>

          <div class="form-content__form-description">
            <div class="form-content__form-description-label form-label">
              <span>Description <span class="optional">(optional)</span></span>
            </div>
            <i class="default bx bx-note-book"></i>
            <textarea
              class="description"
              rows="10"
              formControlName="description"
              placeholder="Tell us about your music, style, influences..."
            ></textarea>
          </div>
        }

        <app-button
          [contentText]="'Create Account'"
          [contentIconClass]="'bx bx-arrow-right-stroke'"
          [buttonType]="'submit'"
        />
      </form>

      <div class="form-content__sign-in">
        <p>
          Already have an account? <button (click)="onSwitchAuthType()">&nbsp;&nbsp;Log in</button>
        </p>
      </div>
    }
  </div>
</div>
