<div class="form">
  <div class="form-content">
    @if (authType() === 'login') {
      <h2 class="form-content__title">Log In</h2>
      <p class="form-content__description">Welcome back! Please enter your details.</p>

      <form class="form-content__form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
        <div class="form-content__form--email">
          <div class="form-content__form--email-label form-label">
            <span class="label">Email Address</span>
          </div>
          <i class="default bx bx-envelope-alt"></i>
          <input
            id="loginEmail"
            class="email"
            [class.invalid]="emailLoginForm.touched && emailLoginForm.invalid"
            type="email"
            formControlName="email"
            placeholder="you@example.com"
          />
        </div>

        <div class="form-content__form--password">
          <div class="form-content__form--password-label">
            <span class="label">Password</span>
            <span class="label-color">Forgot password?</span>
          </div>
          <i class="default bx bx-lock"></i>
          <input
            id="loginPassword"
            class="password"
            [class.invalid]="passwordLoginForm.touched && passwordLoginForm.invalid"
            [type]="showPassword() ? 'text' : 'password'"
            formControlName="password"
            placeholder="Enter your password"
          />
          <button class="visibility-action" (click)="togglePasswordVisibility()">
            <i [class]="showPassword() ? 'bx bx-eye' : 'bx bx-eye-slash'"></i>
          </button>
        </div>

        <button class="form-content__form--login-action" type="submit">
          <p>Log In</p>
          <i class="bx bx-arrow-right-stroke"></i>
        </button>
      </form>
      <div class="form-content__sign-up">
        <p>
          Don't have an account? <button (click)="onSwitchAuthType()">&nbsp;&nbsp;Sign up</button>
        </p>
      </div>
    } @else {
      <h2 class="form-content__title">Create Your Account</h2>
      <p class="form-content__description">Fill in the details below to get started.</p>
      <form></form>
    }
  </div>
</div>
