<div class="two-factor">
  <div class="two-factor__badge">
    <span class="two-factor__ring"></span>
    <span class="two-factor__ring two-factor__ring--outer"></span>
    <i class="two-factor__shield bx bx-shield"></i>
    <i class="two-factor__lock bx bx-lock-keyhole"></i>
  </div>

  <h2 class="two-factor__title">Two-Factor Authentication</h2>

  <p class="two-factor__description">
    We've sent a 6-digit code to your email address
    <span class="two-factor__email">{{ data.email }}</span
    >. Please enter the code below to continue.
  </p>

  <app-code-field
    class="two-factor__code"
    [value]="code()"
    [codeLength]="6"
    [errors]="codeErrors()"
    [touched]="hasCodeError()"
    (valueChange)="onCodeChange($event)"
  />

  <app-button
    contentIconClass="bx bx-arrow-right-stroke"
    [contentText]="'Verify Code'"
    [disabled]="!isCodeComplete()"
    (clickAction)="onVerify()"
  />

  <p class="two-factor__resend">
    Didn't receive the code?
    @if (isResending()) {
      <app-spinner class="two-factor__resend-spinner" size="20px" thickness="2px" />
    } @else {
      <button
        class="two-factor__resend-action"
        type="button"
        [disabled]="!canResend()"
        (click)="onResend()"
      >
        Resend
        @if (!canResend()) {
          ({{ resendTimer() }})
        }
      </button>
    }
  </p>
</div>
