<div class="description">
  <h1 class="description-title">
    {{ content().title }} <span>{{ content().titleColor }}</span> {{ content().smile }}
  </h1>
  <div class="description-instructions">{{ content().instructions }}</div>
  @for (content of content().content; track content.id) {
    <div class="description-content">
      <app-icon
        [iconClass]="content.iconClass"
        [iconMinWidth]="'80px'"
        [iconHeight]="'80px'"
        [iconBorderRadius]="'12px'"
        [iconFontSize]="'56px'"
      />
      <div class="description-content__text">
        <div class="description-content__text--title">{{ content.contentTitle }}</div>
        <div class="description-content__text--overview">{{ content.overview }}</div>
      </div>
    </div>
  }
</div>
