.description {
  &-title {
    font-size: 48px;
    font-weight: 500;

    span {
      color: var(--main-color);
    }
  }

  &-instructions {
    margin-bottom: 100px;
    font-size: 24px;
    color: var(--second-text-color);
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 32px;

    &__icon {
      min-width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      border: 1px solid linear-gradient(135deg, var(--first-gradient-color), var(--second-gradient-color));
      background: var(--bg-round-color);
      font-size: 56px;
      color: var(--icon-color);
      box-shadow: 0 0 20px rgba(168, 85, 247, 0.4);

      i {
        display: flex;
        justify-content: center;
        color: var(--icon-color);
      }
    }

    &__text {
      &--title {
        font-size: 28px;
        margin-bottom: 8px;
      }

      &--overview {
        font-size: 20px;
        color: var(--second-text-color);
      }
    }
  }
}
