.description {
  &-title {
    font-size: 48px;
    font-weight: 500;

    span {
      color: var(--main-color);
    }
  }

  &-instructions {
    margin-bottom: 100px;
    font-size: 20px;
    color: var(--second-text-color);
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 32px;

    &__text {
      &--title {
        font-size: 24px;
        margin-bottom: 8px;
      }

      &--overview {
        font-size: 20px;
        color: var(--second-text-color);
      }
    }
  }
}

@media (max-width: 992px) {
  .description {
    &-instructions {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 540px) {
  .description {
    &-title {
      font-size: 32px;
      line-height: 1.25;
    }

    &-instructions {
      margin-top: 8px;
      margin-bottom: 28px;
      font-size: 16px;
    }

    &-content {
      gap: 16px;
      margin-bottom: 20px;

      ::ng-deep .icon {
        min-width: 52px !important;
        height: 52px !important;
        font-size: 32px !important;
      }

      &__text {
        &--title {
          margin-bottom: 4px;
          font-size: 18px;
        }

        &--overview {
          font-size: 14px;
        }
      }
    }
  }
}
