<div class="radio-field">
  <div class="radio-field__label">
    <span>{{ fieldLabel() }}</span>
  </div>
  <div class="radio-field__buttons">
    @for (option of options(); track option) {
      <label class="radio-field__buttons--option">
        <input
          type="radio"
          [value]="option"
          [checked]="value() === option"
          [disabled]="disabled()"
          (change)="onChange(option)"
        />
        <span></span>
        {{ option }}
      </label>
    }
  </div>
</div>
