.radio-field {
  &__label {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;

    &--option {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 24px;
      cursor: pointer;

      input {
        display: none;
      }

      span {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        border: 2px solid var(--second-gradient-bg);
        border-radius: 50%;
        position: relative;
      }

      input:checked + span::after {
        content: '';
        width: 10px;
        height: 10px;
        background: var(--main-color);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media (max-width: 540px) {
  .radio-field {
    &__label {
      margin-bottom: 12px;
      font-size: 18px;
    }

    &__buttons {
      gap: 24px;
      margin-bottom: 28px;

      &--option {
        gap: 10px;
        font-size: 18px;
      }
    }
  }
}
